@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i&display=swap');

html {
  --background: #fff;
  --foreground: #000;
  --midground: #252525;
  --altforeground: #717171;
  --links: #56abff;
}


body {
  background-color: var(--background);
  color: var(--foreground);
  font: normal normal 1em/1 'Roboto', helvetica, arial, sans-serif;
}

a {
  color: var(--foreground);
}

.navarea {
  display: grid;
  grid-template-columns: 3em auto 3em;
  grid-template-areas: 
    "hamb logo cart"
    "srch srch srch"
    "menu menu menu";
}

.mainmenu a {
  color: var(--background);
  text-decoration: none;
  line-height: 3;
  display: block;
  text-align: center;
}
.mainmenu a:hover {
  background-color: var(--background);
  color: var(--foreground);
}
.hamburger {
  background-color: transparent;
  color: var(--background);
  grid-area: hamb;
  border: none;
}
.addtocart {
  background-color: transparent;
  grid-area: cart;
  border: none;
}
.apple {
  text-align: center;
  grid-area: logo;
}
.mainmenu {
  grid-area: menu;
  display: none;
}
.search {
  grid-area: srch;
  background-color: #666;
  border: none;
  padding: 0.5em;
  margin: 0 1em;
  border-radius: 0.5em;
  color: white;
  background-image: url(/img/search.svg);
  background-repeat: no-repeat;
  background-position: 0.5em -0.25em; 
  padding-left: 2em;
  display: none;
}
.search::placeholder {
  color: #aaa;
}

.navarea:hover .mainmenu {
  display: block;
}
.navarea:hover .search {
  display: block;
}

/* .hamburger:hover + .search {
  display: block;
} */

.header {
  background-color: var(--midground);
  color: var(--background);
}

.product {
  text-align: center;
  line-height: 1.7;
  padding: 1em 1em 18em 1em;
  background-size: auto 80%;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.dark {
  background-color: var(--foreground);
  color: var(--background);
}
.light {
  background-color: var(--background);
  color: var(--foreground);
}

.iphone11pro {
  background-image: url(../img/iphone11pro.jpg);
}
.iphone11 {
  background-image: url(../img/iphone11.jpg);
}
.watchv5 {
  background-image: url(../img/applewatch.jpg);
}



.product-name {
  font-size: 2em;
  font-weight: 500;
}

.product-subpoint {
  color: var(--altforeground);
  font-size: 0.9em;
}

.product-links li {
  display: inline-block;
  margin: 0 0.5em;
}

.product-links a {
  color: var(--links);
  text-decoration: none;
  font-size: 1.2em;
}
.product-links a:hover {
  text-decoration: underline;
}
.product-links a::after {
  content: " >";
}



/* MEDIA QUERIES MUST GO AT THE BOTTOM */

@media screen and (min-width: 900px) {

  .navarea {
    grid-template-columns: 3em auto 3em 3em;
    grid-template-areas: "logo menu srch cart";
  }
  .mainmenu {
    text-align: right;
  }
  .mainmenu li {
    display: inline-block;
  }
  .mainmenu a {
    padding: 0 1em;
  }
  .hamburger {
    display: none;
  }

  .all-products {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1325px) {
  
  .all-products {
    grid-template-columns: 1fr 1fr 1fr;
  }
}